root {
  --width: 400px;
}
body {
  background-color: grey;
  font-family: sans-serif;
  padding: 0;
  padding-left: 52px;
}
nav {
  position: absolute;
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 52px;
  background-color: #222;
  overflow: hidden;
  left: 0;
  top: 0;
  transition: width 0.3s ease-in-out;
}
nav:hover {
  width: var(--width);
}
.bar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: end;
}
.user {
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  height: 180px;
  transform: translateX(-300px);
  opacity: 0;
  width: var(--width);
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.user img {
  width: 100px;
  margin: 0 auto;
  border-radius: 50%;
}
nav:hover .user {
  transform: translateX(0);
  opacity: 1;
}
.links a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: var(--width);
  overflow: hidden;
}
.icon {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.links a:hover {
  background-color: rgb(31, 135, 208);
  color: white;
}
